*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

@media print {
    nav,
    header,
    button,
    .MuiAppBar-root {
        display: none !important;
    }
}
